/* 
This will have the style for header og footer, and goes for the whole webpage.
*/

:root {
  /* light theme */
  --base: #ede7eb;
  --primary: #b07c99;
  --secondary: #4f1645;
  --accent1: #a8b8a2;
  --accent2: #a6b5e1;
  --highlight: #bcc6cc;
  --light-txt: #ffffff;
  --dark-txt: #270b22;
  --headings-txt: Just Another Hand, arial, sans-serif;
  --paragraph-txt: Delius, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base);
  width: 100svw;
  font-family: var(--paragraph-txt);
  color: var(--dark-txt);
}

header {
  background-color: var(--primary);
  height: 125px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#logoImg {
  width: 100px;
  height: auto;
  position: fixed;
  top: 10px;
  left: 1.5svw;
}

#logo {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  color: var(--secondary);
  font-family: var(--headings-txt);
  font-size: 3.75rem;
  letter-spacing: 0.375rem;
  text-shadow: 0 0 10px var(--highlight);
  margin: 3px auto 1px;
}

ul {
  width: 65svw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  font-family: var(--headings-txt);
  font-size: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 10px;
}

a {
  color: var(--light-txt);
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--secondary);
  padding: 5px 10px 1px;
  display: flex;
  justify-content: flex-end;
}

a:hover,
a:active {
  background-color: var(--accent2);
}

.icon {
  height: 1.4rem;
  padding-right: 0.45rem;
}

footer {
  height: 60px;
  background-color: var(--primary);
  margin-top: 40px;
}

/* @media screen and (max-width: 1140px) {
  #logoImg {
    width: 90px;
  }
  ul {
    width: 80svw;
  }
}

@media screen and (max-width: 950px) {
  .icon {
    display: none;
  }
}

@media screen and (max-width: 590px) {
} */
