:root {
  /* light theme */
  --base: #ede9f7;
  /* --primary: #8fa9f3; */
  --primary: #7575f0;
  --card: #ffffff;
  --sec1: #75d7be;
  --sec2: #e995bf;
  --highlight: #fff4b3;
  --light-txt: #ffffff;
  --dark-txt: #3c3c3c;
  --headings-txt: Just Another Hand, arial, sans-serif;
  --paragraph-txt: Delius, sans-serif;
}

[data-theme="dark"] {
  --base: #1b1f3b;
  --primary: #a8b6ff;
  --card: #2a2f52;
  --sec1: #52e0d5;
  --sec2: #f07ac3;
  --highlight: #fff48c;
  --light-txt: #f2f3f8;
  --dark-txt: #b0b4c5;
}

/* 
Thoughts for the style:
Cards for mosaic, acrylic and watercolor
on hover: glowing outline. Don't pop out, just outline.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base);
  width: 100svw;
  font-family: var(--paragraph-txt);
  color: var(--dark-txt);
}

header {
  background-color: var(--primary);
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#logo {
  display: flex;
  flex-flow: row nowrap;
  width: 31svw;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  height: 3.5rem;
  width: auto;
}

h1 {
  color: var(--highlight);
  font-family: var(--headings-txt);
  font-size: 3.75rem;
  letter-spacing: 0.375rem;
}

nav {
  width: 65svw;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  font-family: var(--headings-txt);
  font-size: 2rem;
  display: flex;
  flex-flow: row nowrap;
}

a {
  color: var(--light-txt);
  text-decoration: none;
  border-radius: 15px;
  background-color: var(--sec1);
  padding: 7px 10px 2px;
  display: flex;
  justify-content: flex-end;
}

a:hover,
a:active {
  background-color: var(--sec2);
}

.icon {
  height: 1.8rem;
  padding-right: 0.45rem;
}

p {
  font-size: 1rem;
  width: 70svw;
}
