/* 
Vibrant Color Fiesta
Yellow: ffbe0b
Orange: fb5607
Pink: ff006e
Purple: 8338ec
Blue: 3a86ff
*/

/* 
Pastel Rainbow Fantasy
Red: ffadad
Orange: ffd6a5
Yellow: fdffb6
Green: caffbf
Teal: 9bf6ff
Blue: a0c4ff
Purple: bdb2ff
Violet: ffc6ff
*/

/* 
Candy Pop
Purple: 9b5de5
Pink: f15bb5
Yellow: fee440
Teal: 00bbf9
Turquise: 00f5d4
*/

/* 
Vibrant Summer
Red: ff595e
Yellow: ffca3a
Green: 8ac926
Blue: 1982c4
Purple: 6a4c93
*/

/* 
Pastel Rainbow
Blue: 70d6ff
Pink: ff70a6
Orange: ff9770
Light-Orange: ffd670
Yellow: e9ff70
*/

* {
  margin: 0;
  box-sizing: border-box;
}
