#coursesBtn {
  box-shadow: 0 0 20px var(--highlight);
}

/* 
section #introSection 
  p
  img
section #courseCatalog
  article * 3
    h2  img p img.materials
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#courseIntro {
  width: 70svw;
  margin: 10svh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5svw;
}

#coursesIntroImg {
  height: 330px;
}

#courseIntro p::first-letter {
  font-size: 2rem;
}

#addedCourses {
  font-family: var(--headings-txt);
  color: rgba(60, 60, 60, 0.6);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
}

#coursesInfo {
  width: 95svw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 {
  margin-top: 7svh;
  font-family: var(--headings-txt);
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

article {
  width: 28svw;
  margin-top: 4svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5svh;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  border: 10px solid var(--primary);
  border-radius: 20px;
}

h3 {
  text-align: center;
  font-family: var(--headings-txt);
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

article p::first-letter {
  font-size: 1.5rem;
}

.materials {
  width: 25svw;
}
