#homeBtn {
  box-shadow: 0 0 20px var(--highlight);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5svh;
}

#homeIntro {
  font-family: var(--headings-txt);
  width: 35svw;
  line-height: 3.125rem;
  margin-top: 5rem;
}

#homeIntro1 {
  font-size: 3rem;
}

#homeIntro2 {
  font-size: 2rem;
}

.homeText {
  width: 30svw;
  padding-top: 100px;
}

.imageContainer {
  position: relative;
  display: inline-block;
  background-color: var(--accent1);
  padding: 30px;
  border-radius: 10px;
}

/* 
To get a soft edge, I'm placing a layer on top of the background for the gradient
*/
.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  /* 
  Doing a left-right and a top-bottom double gradient between the base-background and imageContainer-background  
  */
  background: linear-gradient(
      to right,
      var(--base),
      transparent 15px,
      transparent calc(100% - 15px),
      var(--base)
    ),
    linear-gradient(
      to bottom,
      var(--base),
      transparent 15px,
      transparent calc(100% - 15px),
      var(--base)
    );
}

.homeSections img {
  height: 400px;
  width: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.homeSections {
  width: 90svw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 2rem;
}

/* 
To give the image and container the same tilt
*/
.imageContainer:has(#homeImg1) {
  rotate: -6deg;
}

.imageContainer:has(#homeImg2) {
  rotate: 12deg;
}

.imageContainer:has(#homeImg3) {
  rotate: -2deg;
}
